body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.message {
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
  line-height: 1.4;
}
.user-message {
  text-align: right;
  margin-left: 20%;
}
.bot-message {
  text-align: left;
  margin-right: 20%;
}